*build*/
!tools/KuroMapFeatureBuilder/
tools/KuroMapFeatureBuilder/*
!tools/KuroMapFeatureBuilder/main.cpp
!IMao-Core/tools/VisualIndexBuilder/
IMao-Core/tools/VisualIndexBuilder/*
!IMao-Core/tools/VisualIndexBuilder/main.cpp
x64/
Debug/
bin/
.vs/
IMao-WinUI/obj
IMao-WinUI.Core/obj
Tests/ProgramUpdates/obj/
tools/ProgramLauncher/obj/
CMakeFiles/
1.0.2解压文件/
out/
third_party/
tools/dotnet/
tools/dotnet-sdk-8.0.424/
